<app-header titulo="Página Button"></app-header>

<ion-content style="text-align: center">
  <ion-button expand="full" color="primary">Primary Expanded</ion-button>
  <ion-button color="secondary" size="small">Secondary Smol</ion-button>
  <ion-button color="tertiary" size="medium">Tertiary Medium</ion-button>
  <ion-button color="success" size="large">Success Large</ion-button>
  <br>
  <ion-button color="warning" fill="clear">Warning Clear</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="dark">Dark</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="ugly">Color Personalizado</ion-button>
</ion-content>
